In [2]:
import pandas as pd

In [4]:
pd.DataFrame({'Yes': [50, 22], 'No': [131, 20]})

   Yes   No
0   50  131
1   22   20

In [5]:
pd.DataFrame({'bob': ['i like it', 'itwas '], 'sue':['pree', 'bland']})

         bob    sue
0  i like it   pree
1     itwas   bland

In [6]:
pd.DataFrame({'bob': ['i like it', 'itwas '], 'sue':['pree', 'bland']}, index=['pA', 'pB'])

          bob    sue
pA  i like it   pree
pB     itwas   bland

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [9]:
pd.DataFrame({'apple': [35, 41], 'Bananas': [21, 34]}, index=['2017 Sales', '2018 Sales'])

            apple  Bananas
2017 Sales     35       21
2018 Sales     41       34

In [14]:
ingredients = pd.Series(['4 cups', ' 1cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spice'], name='Dinner')
print(ingredients)

Flour     4 cups
Milk        1cup
Eggs     2 large
Spice      1 can
Name: Dinner, dtype: object

In [18]:
animals = pd.DataFrame({'cows': [12, 20], 'goats': [22, 19]}, index=['1 year', '2 years'])
print(animals)
animals.to_csv('./cow_and_goat.csv')

         cows  goats
1 year     12     22
2 years    20     19